type project
description
  Fable bindings for MaterialUI https://material-ui.com/
projectUrl https://github.com/mvsmal/fable-material-ui
licenseUrl https://github.com/mvsmal/fable-material-ui/blob/master/LICENSE
authors Mikhail Smal
files
  *.fs ==> fable/
  *.fsproj ==> fable/
dependencies
  framework: netstandard2.0
    FSharp.Core >= 4.5.2
    Fable.Core >= 3.0.0
    Fable.React >= 5.1.0